---
layout: default
---

{% for section in site.sections %}
  <section>
    <div class="title">
      <h1><a href="{{ section.url }}">{{ section.title }}</a></h1>
      <div class="icon">{{ section.icon }}</div>
    </div>
    <div class="content">
      {{ section.content }}
    </div>
  </section>

  {% if section.title == "Blog" %}
    <img class="title" src="/assets/images/spacer.png" alt="Strasse in den USA" />
  {% endif %}
{% endfor %}

<footer class="one-col">
  <div class="icon">👋</div>
</footer>
