<meta charset="utf-8">

<meta name="author" content="Michel Neeser">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/assets/css/styles.css">

<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96.png" sizes="96x96">
<link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png" sizes="180x180">
