---
---

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primary-color: #EEE8AA;

body {
  font-family: $font-family;
}

#container {
  margin: auto;
  max-width: 50rem;
  margin-top: 30px;
  margin-bottom: 30px;

  a:link, a:visited {
    color: black;
  }
}

header {
  font-size: 3rem;
  font-weight: 300;
  padding: 15px 0px 15px 0px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px 3px #888888;
  background-color: $primary-color;
  margin-bottom: 50px;

  a:link {
    text-decoration: none;
  }
}

main {
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 15px;

    &.title {
      margin-top: 40px;
      border: 1px solid #888888;
    }
  }
}

section {
  position: relative;
  padding: 15px;
  border: 1px solid #888888;
  border-radius: 10px;
  margin-top: 40px;

  .title {
    border-bottom: 1px solid #888888;
    padding-bottom: 20px;

    h1 {
      font-weight: 200;
      font-size: 1.8rem;
      margin: 0;
    }

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px 15px 0px 0px;
      font-size: 2rem;
    }

    a:link {
      text-decoration: none;
    }
  }

  .content {
    margin-top: 30px;
    line-height: 1.5em;

    h2 {
      font-weight: 200;
      font-size: 1.1rem;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: square;
      margin-right: 10px;
      padding-left: 20px;

      li {
        margin-top: 7px;
      }
    }

    a:hover {
      background-color: $primary-color;
    }
  }
}

footer {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 25px;

  .back {
    flex: 50%;
    text-decoration: none;
  }

  .date {
    flex: 50%;
    text-align: right;
  }
}
