---
---

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$primary-color: #3d5146;
$secondary-color: #eee8aa;
$tertiary-color: #888888;

body {
  font-family: $font-family;
}

#container {
  margin: auto;
  max-width: 50rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

header {
  font-size: 3rem;
  font-weight: 300;
  padding: 15px 0px 15px 0px;
  border: 4px solid black;
  text-align: center;
  box-shadow: 0px 0px 10px 3px $tertiary-color;
  color: white;
  background-color: $primary-color;
  margin-bottom: 50px;

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
}

main {
  a:link, a:visited {
    color: black;
  }

  img {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    border: 1px solid $tertiary-color;

    &.title {
      margin-top: 40px;

      &:hover {
        filter: grayscale(50%);
      }
    }
  }
}

section {
  position: relative;
  padding: 15px;
  border: 1px solid $tertiary-color;
  margin-top: 40px;
  box-shadow: 0px 0px 5px 1px $tertiary-color;

  .title {
    border-bottom: 1px solid $tertiary-color;
    padding-bottom: 20px;

    h1 {
      font-weight: 200;
      font-size: 1.8rem;
      margin: 0;
    }

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px 15px 0px 0px;
      font-size: 2rem;
    }

    a:link {
      text-decoration: none;
    }
  }

  .content {
    margin-top: 30px;
    line-height: 1.5em;

    h2 {
      font-weight: 200;
      font-size: 1.3rem;
      margin-top: 35px;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: square;
      margin-right: 10px;
      padding-left: 20px;

      li {
        margin-top: 7px;
      }
    }

    a:hover {
      background-color: $secondary-color;
    }

    .yt-video-container {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 30px;
    	height: 0;
    	overflow: hidden;

      iframe, object, embed {
        position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      }
    }
  }
}

footer {
  margin-top: 25px;

  &.one-col {
    .icon {
      font-size: 2rem;
      text-align: center;
    }

    .back {
      text-decoration: none;
    }
  }

  &.two-col {
    display: flex;
    flex-wrap: nowrap;

    .back {
      flex: 50%;
      text-decoration: none;
    }

    .date {
      flex: 50%;
      text-align: right;
    }
  }
}
