<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} – {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <div id="container">
      <header>
        <a href="/">{{ site.title }}</a>
      </header>
      <main>
        <section>
          <div class="title">
            <h1>{{ page.title }}</h1>
          </div>
          <div class="content">
            {{ page.content }}
          </div>
        </section>
      </main>
      <footer class="two-col">
        <a href="/blog" class="back">&larr; alle Posts</a>
        <div class="date">{{ page.date | date: "%d.%m.%Y" }}</div>
      </footer>
    </div>
  </body>
</html>
