<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta name="description" content="{{ page.title }} – eine Seite zu diesem Thema von Michel Neeser">
    {% include head.html %}
  </head>
  <body>
    <div id="container">
      <header>
        <a href="/">{{ site.title }}</a>
      </header>
      <main>
        <section>
          <div class="title">
            <h1>{{ page.title }}</h1>
            <div class="icon">{{ page.icon }}</div>
          </div>
          <div class="content">
            {{ page.content }}
          </div>
        </section>
      </main>
      <footer class="one-col">
        <a href="/" class="back">&larr; zur Startseite</a>
      </footer>
    </div>
  </body>
</html>
